.blob {
    width: 600px;
    height: 600px;
    background: linear-gradient(135deg, #ff6b6b, #f06595);
    border-radius: 50%;
    filter: blur(120px);
    position: relative;
}
.blob::before {
    content: '';
    position: absolute;
    right: 500px;
    width: 600px;
    height: 600px;
    background: linear-gradient(135deg, #bdff21, #d475dd);
    border-radius: 120%;
    filter: blur(120px);
}
.blob::after {
    content: '';
    position: absolute;
    left: 500px;
    width: 600px;
    height: 600px;
    background: linear-gradient(135deg, #6b6bff, #65f0f0);
    border-radius: 50%;
    filter: blur(40px);
}
.p-inputtext-background{
 background-color: white;
}
p-button, button{
    height: 50px;
}